body{
  background-color: blanchedalmond;
  color: darkslategrey;
  font-family: Calibri, sans-serif;
}

fieldset {
  container-name: fieldset;
  container-type: inline-size;
}

label {
  margin: 0 0.25rem;
  width: 51.5px;
  text-align: right;
}

input {
  background-color: ivory;
  border-color:beige;
  width: 150px;
}

input:focus {
  border-color: #cfb085;
  outline: 3px solid transparent;
}

input:invalid {
  outline: 2px solid crimson;
  border-radius: 5px;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.imperial-pair {
  display: flex;
  flex-wrap: nowrap;
}

.label-input {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.25rem;
}

@container fieldset (max-width: 677px) {
  .label-input {
    flex-direction: column;
  }
}

@container fieldset (max-width: 497px) {
  .label-input {
    flex-direction: row;
  }
}

@container fieldset (max-width: 444px) {
  .label-input {
    flex-direction: column;
  }
}

@container fieldset (max-width: 325px) {
  .imperial-pair {
    flex-direction: column;
  }
  .label-input {
    flex-direction: row;
  }
}

@container fieldset (max-width: 220px) {
  .label-input {
    flex-direction: column;
  }
}

@container fieldset (max-width: 158px) {
  input {
    width: 100%;
  }
  .outer {
    flex-direction: column;
  }
}